/* Default  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-size: 25px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

/* Default  */

body{
    font-family: 'Montserrat Alternates', sans-serif;
}

.container{
    max-width: 1200px !important;
}

/* Shared Style */
.my-btn{
    padding: 12px 30px;
    border-radius: 8px;
    display: inline-block;
}

.my-btn-outline{
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000 !important;
}

.my-btn-solid{
    background: #000000;
    color: #ffffff !important;
    box-shadow: 5px 5px 0px 0px grey;
    transition: box-shadow .30s;
}

.my-btn-solid:hover{
    box-shadow: -5px 5px 0px 0px grey;
}

.sec-heading{
    margin-bottom: 50px;
}
/* Shared Style */


/* Header Started */

header{
    padding: 15px 0px;
    background-color: #F7EDE8;
}

.header-wrapper{
    display: flex;
    align-items: center;
}

.header-wrapper>div:first-child{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.header-wrapper>div:first-child ul{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.header-wrapper>div:first-child ul li a{
    color: #000000;
}

.header-wrapper>div:last-child{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    gap: 20px;
}


/* Header Ended */

/* Banner Start*/
.banner{
    padding: 50px 0px;
    background-color: #F7EDE8;
    text-align: center;
    position: relative;
    z-index: 5;
}

.banner h1{
    font-size: 65px;
    font-weight: 600;
}

.banner h1 span{
    display: block;
    color: #CD4631;
}

.banner p{
    margin: 35px 0px;
}

.banner .my-btn{
    margin-top: 20px;
}

.banner-img{
    display: none;
}

.banner-img>img:first-child{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 0px;
 }

 .banner-img>img:last-child{
     position: absolute;
     top: 50%;
     right: 0px;
     transform: translateY(-25%);
 }


.banner-img-2::after{
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    background: url("../images/banner/waves.svg") no-repeat center;
    width: 250px;
    height: 265px;
    transform: translateY(-50%);
}

/* .banner-img-2::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    background: url("../images/banner/stars.svg") no-repeat center;
    width: 250px;
    height: 265px;
    transform: translateY(-50%);
} */


/* Banner End*/


/* Responsive Started */
/* @media only screen and (min-width: 768px) {
    .banner-img{
       display: none;
    }

    .banner-img>img:first-child{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
    }

    .banner-img>img:last-child{
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-25%);
    }
} */

.three-box{
   padding: 120px 0px;
   background-color: #F7EDE8;
}

.three-box>div>div img{
    width: 100%;
}

.three-box>div>div>div>div{
    position: relative;
}

.three-box>div>div>div>div h3{
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #e13232;
    font-weight: 700;
}

/* Supported Start*/

.supported{
    padding: 120px 0px;
    background-color: #F7EDE8;
}

.supported-wrapper{
    padding: 30px 0px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
}

/* Supported end */

/* talk start */
.talk{
   padding: 120px 0px;
   position: relative;
}

.scribble{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.talk-podcasts{
    background-color: #F7EDE8;
    padding: 50px 0px;
    border-radius: 12px;
    position: relative;
    margin-top: 80px;
}

.talk-podcasts>div:last-child>img:first-child{
   position: absolute;
   top: 50%;
   left: -45px;
}
.talk-podcasts>div:last-child>img:last-child{
   position: absolute;
   top: -45px;
   right: -40px;
}

/* talk end */

/* listeners Start */
.listeners{
    padding: 120px 0px;
    position: relative;
    background-color: #EDF3F7;
}

.line>img{
   position: absolute;
   top: -50px;
   left: 50%;
   transform: translateX(-50%);
}

.listeners .sec-heading{
    margin-top: 30px;
}

.sec-heading h2{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.sec-heading h2>img:not(.sec-right h2>img){
    position: absolute;
    top: -50px;
    left: -50px;
}

.listeners-wrapper>div>div>div{
    background-color: #ffffff;
    padding: 50px 80px;
    border-radius: 5px;
}

.listeners-wrapper>div>div>div p{
    line-height: 2;
}
/* listeners End */

/* membership Start */
.membership{
    padding: 120px 0px;
    position: relative;
}

.membership .sec-right h2>img{
 position: absolute;
 top: -50px;
 right: -60px;
}

.membership h4{
    font-weight: 600;
}

.membership>:nth-child(2){
    text-align: center;
    margin-top: 100px;
}

.test-img{
    width: 50px;
    height: 50px;
    background: url("../images/ring.svg") no-repeat;
}

.test-img:hover{
    background: url("../images/wave.png");
}
/* membership End */

@media only screen and (max-width: 992px) {
    .talk-podcasts{
        overflow: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .header-wrapper ul,
    .header-wrapper .my-btn{
        display: none !important;
    }

    .banner-img{
        display: none;
    }

    .banner-img-2::after{
        background: url("../images/banner/small.svg") no-repeat center;
        width: 180px;
        height: 115px;
    }

    .three-box>div>div>div:last-child>div{
        width: 50%;
        margin: 20px auto;
    }

}

@media only screen and (max-width: 576px) {
    .three-box>div>div>div:last-child>div{
        width: 70%;
    }
    .three-box>div>div>div>div{
        width: 70%;
        margin: 20px auto;
    }

    h2{
        font-size: 32px;
    }
}

/* Responsive End */